// ============================================= 

//	Compass Imports						   		 

// ============================================= 

// Makes all the CSS3 mixins available
// http://compass-style.org/reference/compass/css3/
@import "compass/css3";

// Makes all the Float mixins available
// http://compass-style.org/reference/compass/utilities/general/float/
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
// http://compass-style.org/reference/compass/utilities/general/clearfix/
@import "compass/utilities/general/clearfix";

// Makes all Text mixins available
// http://compass-style.org/reference/compass/typography/text/
@import "compass/typography/text";

// Makes all List mixins available
// http://compass-style.org/reference/compass/typography/lists/
@import "compass/typography/lists";

// Makes all Link mixing available
// http://compass-style.org/reference/compass/typography/links/unstyled_link/
@import "compass/typography/links";


// =============================================

//	Tito-plate Imports						   	  

// =============================================

// Reset styles
@import "reset";

// Layout modules, column widths, responsive baselines, etc.
@import "layout";


/* !============================================= */

/* ! Variables						  			  */ 

/* !============================================= */

/* !-- Universal ------------------------------------ */

$black-5: #f5f5f5;
$black-10: #ededed;
$black-15: #ccc;
$black-50: #999;
$black-75: #666; 
$black-90: #222; 
$black-95: #111; 

$light-gray: $black-10;
$med-gray: $black-50;
$dark-gray: $black-75;
$tease-txt: $black-75;
$txt-black: $black-90;
$text-black: $txt-black;

/* !-- Project ------------------------------------ */
$beat-taupe: #FAFAF7;
$beat-taupe-dark: #EDEBE3;
$beat-side: #E9E8E3;
$beat-green: #CCDF94;
$beat-yellow: #FED674;
$beat-blue: #97D9E1;
$beat-red: #F36739;

$beat-text: #c6c2b4;
$beat-dark: darken($beat-text, 20%);


$blue: #1d78af;

$link: $blue;
$link-hover: darken($link, 8%);
$highlight: $beat-yellow;



$sans:Arial,Helvetica,Verdana,sans-serif;
$serif: "Droid Serif", Georgia,Times,Times New Roman,serif;
$mono:"Courier New",Courier,mono;
$pine: "CheapPineSans", Helvetica, sans-serif;




/* !============================================= */

/* ! General Mixins			   			  		  */ 

/* !============================================= */

// Universal Upstatement Mixins
@import "mixins";




/* !============================================= */

/* ! Patterns			   			  		  	  */ 

/* !============================================= */

/* NOTE: Uncomment only one of these imports below, 
   uncommenting both may result in a scenario too 
   horrible to comprehend. */

// Default styles for buttons, boxes, lists, etc.
// Uncomment to include
// @import "patterns";

// Default framework (sans styles) for buttons, boxes, lists, etc.
// Uncomment to include
@import "patterns-naked";



@mixin btn-light {
	color: #333;
	border-bottom-color: #bbb;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	@include background-image(linear-gradient(top, #fff, #e6e6e6));
	@include text-shadow(rgba(255, 255, 255, 0.75), 0, 1px, 1px);
	&.active, &:active {
		@include box-shadow(rgba(0, 0, 0, .25) 0 2px 4px inset, rgba(0, 0, 0, .05) 0 1px 2px);
		}
	&.disabled, &[disabled],
	&.disabled:hover, &[disabled]:hover {
		cursor: default;
		background-image: none;
		@include opacity(.65);
		@include box-shadow(none);
		}	
	}
	
	
	@mixin btn-dark {
		color: #333;
		border-bottom-color: #bbb;
		background-color: #e6e6e6;
		background-repeat: no-repeat;
		@include background-image(linear-gradient(top, white, $beat-taupe-dark));
		
		@include text-shadow(rgba(255, 255, 255, 0.75), 0, 1px, 1px);
		&.active, &:active {
			@include box-shadow(rgba(0, 0, 0, .25) 0 2px 4px inset, rgba(0, 0, 0, .05) 0 1px 2px);
			}
		&.disabled, &[disabled],
		&.disabled:hover, &[disabled]:hover {
			cursor: default;
			background-image: none;
			@include opacity(.65);
			@include box-shadow(none);
			}	
		}
		
		
	
	
/* !============================================= */

/* ! Custom Fonts					   			  */ 

/* !============================================= */

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);


@mixin font-import {
	@font-face {
	    font-family: 'CheapPineSans';
	    src: url('/wp-content/themes/_design/_fonts/cheap_pine_sans-webfont.eot');
	    src: url('/wp-content/themes/_design/_fonts/cheap_pine_sans-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/wp-content/themes/_design/_fonts/cheap_pine_sans-webfont.woff') format('woff'),
	         url('/wp-content/themes/_design/_fonts/cheap_pine_sans-webfont.ttf') format('truetype'),
	         url('/wp-content/themes/_design/_fonts/cheap_pine_sans-webfont.svg#CheapPineSans') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
}

// Import custom fonts
@include font-import;